/*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;

}
.child{
    height: 400px;
    width: 400px;
    border: 2px solid black;

    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: change 10s infinite;
}
@keyframes change {
    0%{
        background-image: url(bike12.jpg);
        transform: translate(0px,0px);
    }
    25%{
          background-image: url(bike123.jpg);
          transform:translate(400px,0px) ;
    }
    50%{
         background-image: url(bike1234.jpg);
         transform: translate(400px,400px);
    }
    75%{
  background-image: url(bike12345.jpg);
     transform: translate(0px,400px);
    
    }


}