.parent{
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}
.arrow{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.navbar{
    display: flex;
    justify-content:space-evenly ;
    color: light yellow;
    align-items: center;
    height: 100px;
}
