.parent{
    display: flex;
 justify-content: space-around;
 background-color: green;
 align-items: center; 
 padding: 40px;
}
.sir  button{
    background-color: red;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;

}
.sir{
    font-family: vardana;
    font-style: italic;
}