.container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    transition: all 4s ease;
}
.box1{
    background-color: antiquewhite;
    transform: rotate(45deg) scale(1.2);
}
.main{
    display: grid;
    grid-template-columns: repeat(10,300px);
    overflow: scroll;
    scrollbar-width: none;
}
.box{
    width: 300px;
    height: 300px;
    border: 1px solid green;
}

/*.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;

}
.child{
    height: 400px;
    width: 400px;
    border: 2px solid black;